{% extends "base.html" %}
{% load static %}

{% block body %}

<div class = "ui center aligned grid">
	<div class = "height wide column">	
		<div class = "row">
			<div class = "column">
				<div class = "ui left aligned segment">
					<h2 class="ui center aligned icon header">
						<i class="yellow bolt icon"></i>
						Elec de KIN
						<div class="sub header">Quelques lignes pour rappeler qu'il n'y a que l'ELEC qui pine à KIN !</div>
					</h2>
				</div>
				<div class = "ui left aligned segment">
					<h2 class="ui center aligned header">
						Elec 216
						<div class="sub header">Ecrire les principaux projets réalisés ici :)</div>
					</h2>
					<div class="ui list">
						<div class="item">
					  		<img class="ui avatar image" src="{% static "images/astondb.jpg" %}">
							<div class="content">
					    		<a class="header">Aston DB 9</a>
					    		<div class="description">dit Paul Malard <a><b></b></a>- Zident</div>
							</div>
						</div>
						<div class="item">
							<img class="ui avatar image" src="{% static "images/kubid.jpg" %}">
							<div class="content">
					    		<a class="header">Kubid 20</a>
					    		<div class="description">dit Thomas Fernandez <a><b></b></a>- ViZident Matos</div>
							</div>
						</div>
						<div class="item">
					  		<img class="ui avatar image" src="{% static "images/kermione.jpg" %}">
							<div class="content">
					    		<a class="header">Kermione 64-75</a>
					    		<div class="description">dit Clément Granger <a><b></b></a>- ViZident Kfet + LEDs </div>
							</div>
						</div>
					</div>
				</div>
				
				<div class = "ui left aligned segment">
					<h2 class="ui center aligned header">
						Elec 217
						<div class="sub header">Ecrire les principaux projets réalisés ici :)</div>
					</h2>
					<div class="ui list">
						<div class="item">
					  		<img class="ui avatar image" src="{% static "images/kokin.jpg" %}">
							<div class="content">
					    		<a class="header">KoKIN 64-75</a>
					    		<div class="description">dit Joan Roig <a><b></b></a>- Zident</div>
							</div>
						</div>
						<div class="item">
							<img class="ui avatar image" src="{% static "images/iodas.jpg" %}">
							<div class="content">
					    		<a class="header">Iodas 86cl*</a>
					    		<div class="description">dit Thomas Grosjean <a><b></b></a>- Zident</div>
							</div>
						</div>
						<div class="item">
					  		<img class="ui avatar image" src="{% static "images/fazz.jpg" %}">
							<div class="content">
					    		<a class="header">Fazz 52-135</a>
					    		<div class="description">dit Clément Granger <a><b></b></a>- ViZident Com </div>
							</div>
						</div>
						<div class="item">
					  		<img class="ui avatar image" src="{% static "images/geepoint.jpg" %}">
							<div class="content">
					    		<a class="header">GeePoint 89</a>
					    		<div class="description">dite Marya Abdouni <a><b></b></a>- ViZidente CQ </div>
							</div>
						</div>
					</div>
				</div>
		
				
			</div>
		</div>
	</div>
</div>

{% endblock %}
