{% extends 'base.html' %}

{% block content %}
  <p>
    Un mail vous a été envoyé pour la réinitialisation de votre mot de passe.
    
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    Si vous ne recevez rien, veuillez vérifier l'adresse renseignée ainsi que votre dossier SPAMS.
    
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
{% endblock %}