{% autoescape off %}


Pour procéder à la réinitialisation du mot de passe pour le compte  {{ user.get_username }} de l'intranet de la réisdence J. Chasseriaud,
cliquez sur le lien ci-dessous:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si cliquer sur le lien ne fonctionne pas, merci de copier-coller celui-ci dans votre navigateur web.

Cordialement,
L'équipe du Rézal 



To initiate the password reset process for your {{ user.get_username }} TestSite Account,
click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Sincerely,
The AM Rezal KIN Team

{% endautoescape %}